
.banner{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    position: relative;
    top: 60px;
    
    
}
.arco__ {
    display: flex;
    flex-direction: row;
    text-align: justify;
    

}
.arco__logo{
    width: 250px;
    object-fit:cover;
    align-content: flex-start;
    position: relative;
    right: 22.5rem;
    top: 4.85rem;
    

}

.logo__txt{
    color: var(--off-white);
    font-family: var(--font-3st);
    font-weight: 300;
    word-spacing: 5px;
    position: relative;
    right: 23.5em;
    top: 7.3rem;
    font-size: 1rem;
    text-wrap: nowrap;
    text-transform:lowercase ;
}
.arco__descricao{
    font-size: 17px ;
    color: var(--color-font-1st);
    padding: 28px 0 20px 10px;
    position: relative;
    top: 4rem;
    left: 2rem;
    text-shadow: -1.5px -1px 0 var(--color-black);
    word-spacing: 3px;
    

}
.titulo{
    font-family: var(--font-2st);
    font-size: 2.7em;
    position: relative;
    bottom: -9.5rem;
    left: 2.8rem;
    color: var(--color-black);
    text-shadow:
    -1px -1px 0 var(--off-white);
    letter-spacing: 3px;
    text-wrap: nowrap;
    font-weight: 700;
}

.titulo span{
    font-family: var(--font-4st);
    font-weight: 500;
    font-size: 3rem;
    text-align: justify;
    color: var(--color-font-5st);

}
.logo{
    height: 255px;
    width: 770px;
    background-size: contain;
    background-image: url(img/onepiece_official-logo.png);
    /*background-position: center;*/
    background-repeat: no-repeat;
    position: relative;
}
.banner__btn{
    display: flex;
    align-items:justify;
    flex-direction: row;
    gap: 30px;
    position: relative;
    left: 2.5rem;
    top: 4rem;
    /*border: 2px solid red; /* Um dica interessante de visualização, utilizar uma borda para contornar o conteúdo */
}

.banner__btn button{
    padding: .5rem;
    width: 220px;
    height:40px;
    gap: 21px;
    font-size: 0.9em;
    text-align: center;
    align-items: center;
    direction: rtl;
    border-radius: 5px;
}
   
.fa-circle-play{
    font-size: 18px;
    margin-left: 15px;
    align-items: center;
    
}

.fa-list{
    font-size: 18px;
    margin-left: 15px;
    align-items: center;
}
.banner__btn-play{
    color: var(--color-font-1st);
    font-weight: 700;
    background-color: var(--color-font-2st);
}

.banner__btn-play:hover{
    background-color: var(--color-2st);
    transition: ease 0.4s;
}

.banner__btn-info{
    color: var(--color-black);
    background-color: var(--color-1st);
}
.banner__btn-info:hover{
    color: var(--color-black);
    background-color: var(--off-white);
    transition: ease 0.4s ;
}
