.categorias{
    display: grid;
    grid-template-columns: repeat(5,auto);
    /*grid-template-rows: repeat(2, auto);
    grid-row: 1/2;
    grid-auto-flow: row;
     - não precisei criar linha pois estava trabalhando apenass com colunas, e os dois grupos
     estavam em divs distintas. */
     
    position: absolute;
    top: 47rem;
    white-space:nowrap;
    justify-content: center;
    align-items: center;
    
}



.minhaLista-img{
    width: auto;
    height: auto;
    margin-bottom: 1.95rem;
    margin-left: 93px;
    align-items: center;
    position: relative; 
   
}

.minhaLista-img img{
    width: 16.25rem;
    height: 7.75rem;
    margin-right: 3px;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.697);
    border-radius: 7px;
      
}



.minhaLista-title{
    color: var(--off-white);
    font-size: 0.99rem;
    text-align: justify;
    padding: 13px;
    margin-left: 4.91rem;
}

.minhaLista-img img:hover{
    transform: scale(1.4);
    transition: all ease-in-out 180ms;
    
}


