/* Div-pai Categorias*/

.categorias{
    display: grid;
    grid-template-columns: repeat(5,auto); 
    position: relative;
    top: 24rem;
    white-space:nowrap;
    justify-content: center;
    align-items: center;
    
}


    .container{
        width: auto;
        height: auto;
        margin-bottom: 1.95rem;

        align-items: center;
        position: relative; 
    
}

    .nav_bar .lista-Itens_img{
        position: relative;
        left: 3.15rem;
        
    }

    .nav_bar img:nth-of-type(n + 1){
    
        margin-right: 1.01rem;
    }

        .Lista-title{
            color: var(--off-white);
            font-size: .99rem;
            text-align:left;
            position: relative;
            left: 3.15rem;
            padding: 20px 0;
}

/*.nav_bar-3 {
    display: grid;
    grid-template-columns:repeat(3, 100%);
    overflow: hidden;
    scroll-behavior: smooth;
    
} */





